#wrapper{
    display: inline-block;
    padding: 10px;
    background-color: #00923E;
}

table{
    font-family: Calibri;
    border-spacing: 0;
    border: 0.5px solid black;
    border-radius: 15px;
}

#cell-11{
    border-top-left-radius: 15px;
}

#cell-18{
    border-top-right-radius: 15px;
}

#Germany{
    border-bottom-left-radius: 15px;
}
#cell-68{
    border-bottom-right-radius: 15px;
}


table th, table tr td{
    border: 1px solid black;
    text-align: center;
    height: 35px;
}

td{
    font-size:11px;
}

table thead{
    background-color: #F8C711;
    font-size: 25px;
}

tbody{
    background-color: #FFFFFF;
}

tbody tr:nth-child(even){
    background-color: #C8C8C8;
}

.first-group-countries{
    text-align: right;
    width: 110px;
}

.second-group-countries{
    text-align: left;
    width: 110px;
}

input{
    width: 25px;
}

.disabled-button{
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    font-size: 8px;
    color: white;
    padding: 0;
}

.enabled-button{
    background-color: green;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    font-size: 8px;
    color: white;
    padding: 0;
}

#Brasil:after {
    content: url("../images/Brasil.png");
}

#Mexico:before {
    content: url("../images/Mexico.png");
}

#Spain:after {
    content: url("../images/Spain.png");
}

#Netherlands:before {
    content: url("../images/Netherlands.png");
}

#Italy:after {
    content: url("../images/Italy.png");
}

#England:before {
    content: url("../images/England.png");
}
#Argentina:after {
    content: url("../images/Argentina.png");
}

#BosniaHerz:before {
    content: url("../images/BosniaHerz.png");
}
#Germany:after {
    content: url("../images/Germany.png");
}

#Portugal:before {
    content: url("../images/Portugal.png");
}
